/* Add CSS Styling */
.odd {
  font-family: Verdana, "DejaVu Sans", sans-serif;
  color: black;
  font-weight: bold;
  background-color: #ffb6c1;
}
#two {
  color: hsl(240, 50%, 50%);
  font-weight: bold;
  font-size: 36px;
}
.odd.third {
  font-size: 24px;
}
#fourth {
  background-color: rgb(144, 238, 144);
  font-size: 24px;
  font-weight: bold;
}
