/* Add CSS Styling */

/* Add CSS Styling */
.btnone,
.btntwo {
  font-family: Helvetica, "Times New Roman", sans-serif;
  font-size: 28px;
}
.btnone {
  color: white;
  background-color: rgb(0, 0, 0);
}
.btntwo {
  background-color: rgb(255, 255, 0);
}
